body {
    background: beige;
    color: black;
    font-size: 15px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.main-image {
    overflow: hidden;
    max-height: 500px;
}

/* .main-image img {
    height: 500px;
    max-height: 500px;
    width: auto;
    object-fit: contain;
} */

/* found issue I think, px size does not seem to affect images */
.fun-image {
    overflow: hidden;
    max-height: 150px;
}

/* .fun-image img {
    height: 250px;
    max-height: 250px;
    width: auto;
    object-fit: contain;
} */

.header {
    font-size: 15px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}