body {
    background: beige;
    color: black;
    font-size: 15px;
    text-align: justify;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.header {
    font-size: 15px;
    text-align: center;
}

.main-image {
    overflow: hidden;
    max-height: 500px;
}

.main-image img {
    max-height: 500px;
    max-inline-size: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.pan-buttons button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    border: 22px rgb(177, 123, 6);
}

.fun-image {
    overflow: hidden;
    max-height: 200px;
}

.fun-image img{
    max-height: 200px;
    max-inline-size: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



