body {
    background: beige;
    color: black;
    font-size: 15px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

image {
    max-inline-size: 100%;
    display: block;
}

.main-image {
    overflow: hidden;
    max-height: 500px;
}

img.main-image {
    max-height: 500px;
}

.fun-image {
    overflow: hidden;
    max-height: 200px;
}


.header {
    font-size: 15px;
    text-align: center;
}

.personal-info {
    text-align: center;
}

.projects {
    text-align: center;
}

.software {
    text-align: center;
}

.hobbies {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}